<meta charset="utf-8">
<title> Colors, Colors, Colors. </title>

<link rel="stylesheet" href="/stylesheets/styles.css">

<footer>
  Made with &hearts; at Ironhack.
  ©2017 and stuff.
</footer>

<%- body -%>

<header>
  <h1> BAD Colors, Colors, Colors. </h1>

  <nav>
    <ul>
      <li> <a href="/"> Home </a> </li>
      <li> <a href="/random"> Random Color </a> </li>
      <li> <a href="/other-layout"> Other Layout </a> </li>
    </ul>
  </nav>
</header>
