<h2> <%= theColor.keyword %> </h2>

<p>
  <b>Category:</b>
  <%= theColor.category %>
</p>

<p>
  <b>Hex Code:</b>
  <%= theColor.hex %>
</p>

<div
  class="color-sample"
  style="background-color: <%= theColor.hex %>"
></div>
